<h1>Listing authors</h1>

<%#=will_paginate @authors %>

<% @authors.each do |author| %>

<div class='content'>
	<p><%=h author.author_last_name+', '+author.author_first_name %></p>
     <%= link_to "Edit", edit_author_path(author) %>|
     <%= link_to "Destroy", author, :confirm => 'Are you sure?', :method => :delete %>
</div>


<% end %>
    <%= link_to 'Book List', books_path %>



