
<h1>Listing authors</h1>




<% @authors.each do |author| %>
  <div class="item">
  <h3>
  <%= link_to author.name, author %>
  </h3>
  </div>
  
  <div class="actions">
    <td><%= link_to 'Back', authors_path %></td>
    <td><%= link_to 'Edit', edit_author_path(author) %></td>
    <td><%= link_to 'Destroy', author, :confirm => 'Are you sure?', :method => :delete %></td>
  </div>
  </div>
<% end %>


