<h1>Listing bookcharacters</h1>

<table>
  <tr>
  </tr>

<% @bookcharacters.each do |bookcharacter| %>
  <tr>
    <td><%= link_to 'Show', bookcharacter %></td>
    <td><%= link_to 'Edit', edit_bookcharacter_path(bookcharacter) %></td>
    <td><%= link_to 'Destroy', bookcharacter, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New bookcharacter', new_bookcharacter_path %>